.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    text-align: center;
  }
  
  .contact-container h1 {
    margin-bottom: 30px;
  }
  
  .social-media-links {
    margin-bottom: 20px;
  }
  
  .social-media-links a {
    margin: 0 15px;
    display: inline-block;
  }
  
  .social-media-links img {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .social-media-links img:hover {
    transform: scale(1.1);
  }
  
  .contact-page p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .contact-page a {
    color: #005A9E;
    text-decoration: none;
  }
  
  .contact-page a:hover {
    text-decoration: underline;
  }
  