.endret-medlems-poen-container {
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.endret-medlems-poen-title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.endret-medlems-poen-search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.endret-medlems-poen-search-status {
  color: #666;
  margin-bottom: 10px;
}

.endret-medlems-poen-section-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  max-height: 118px; 
  overflow-y: auto;
}

.endret-medlems-poen-search-result {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.endret-medlems-poen-search-result:hover {
  background-color: #f7f7f7;
}

.endret-medlems-poen-search-result:last-child {
  border-bottom: none;
}

.endret-medlems-poen-selected-member-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10; 
}

.endret-medlems-poen-selected-member-name {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.endret-medlems-poen-selected-member-points {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.endret-medlems-poen-adjustment-form {
  margin-bottom: 20px;
}

.endret-medlems-poen-points-input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.endret-medlems-poen-submit-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.endret-medlems-poen-submit-button:hover {
  background-color: #45a049;
}

.endret-medlems-poen-lukk-button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.endret-medlems-poen-lukk-button:hover {
  background-color: #d32f2f;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.endret-medlems-poen-success-message {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  z-index: 1500;
}

@keyframes slideInFromBottom {
  0% {
      bottom: -50px;
      opacity: 0;
  }
  100% {
      bottom: 0;
      opacity: 1;
  }
}
