.home-page {
    display: flex;
    height: 100vh;  
}

.home-page .left {
    width: 50%;
    background-color: #005A9E;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page .right {
    width: 50%;
    background-color: #FAFAFA;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sentence-section p {
    font-size: 25px;
    color: #FFFFFF; 
    text-align: center;
    font-weight: normal; 
}

.nav-logo {
    font-family: 'Fredoka One', cursive;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -2px;
    color: #005A9E;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.nav-logo span {
    color: #005A9E;
    text-shadow: 3px 3px 6px #FFFFFF;
}

.home-page .right button {
    margin: 10px 20px;
    padding: 10px 20px; 
    font-size: 16px;
    border: 2px solid #005A9E;  
    cursor: pointer;
    background-color: #FFFFFF;  
    width: 180px; 
    text-align: center;
    transition: all 0.3s;  
    color: #005A9E; 
}

.home-page .right button:hover {
    background-color: #005A9E; 
    color: #FFFFFF; 
}

.home-page .right button a {
    text-decoration: none;
    color: #005A9E;
}

.home-page .right button a:hover {
    color: #FFFFFF;
}

.home-page .right .footer-about {
    position: absolute;
    bottom: 10px;
    left: 75%;
    transform: translateX(-50%);
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.nav-logo img {
    width: 35px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -70px;
    opacity: 0.7;
}

.home-page .right .footer-about .links-container a {
    margin-right: 28px;
    margin-left: 26px;
    text-decoration: underline;
    font-size: 12px;
    opacity: 0.9; 
}
