.home-page {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.home-page .left {
  width: 50%;
  background-color: RGB(19, 182, 253);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .right {
  width: 50%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  font-family: 'Fredoka One', cursive;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -2px;
  color: RGB(19, 182, 253);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.nav-logo span {
  color: RGB(19, 182, 253);
  text-shadow: 3px 3px 6px #FFFFFF;
}

.home-page .right button {
  margin: 10px 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid RGB(19, 182, 253);
  cursor: pointer;
  background-color: #FFFFFF;
  width: 180px;
  text-align: center;
  transition: all 0.3s;
  color: RGB(19, 182, 253);
}

.home-page .right button:hover {
  background-color: RGB(19, 182, 253);
  color: #FFFFFF;
}

.kontakt-oss-link-container {
  position: absolute;
  bottom: 30px; 
  right: 330px; 
}

.kontakt-link {
  color: RGB(19, 182, 253);
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.kontakt-link:hover {
  color: #003E70;
}

/* Logo specific styles */
.home-page .left .home-page-logo {
  height: 60px; 
  position: absolute;
  top: 636px; 
  left: 75%; 
  transform: translateX(-50%); 
}

@media only screen and (max-width: 768px) {
  .kontakt-oss-link-container {
    right: 45px;  
    bottom: 20px;  
  }
}

/* Phones in portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) 
and (-webkit-min-device-pixel-ratio: 2) {
.kontakt-oss-link-container {
  right: 45px;
  bottom: 20px;
}
.home-page .left .home-page-logo {
  height: 60px;
  top: 749px; 
  left: 74%; 
  
}
}

/* iPhone XR, iPhone 11, iPhone 12 Pro, iPhone 14 Max Pro in portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (-webkit-min-device-pixel-ratio: 2) {
.kontakt-oss-link-container {
  right: 45px;
  bottom: 20px;
}
.home-page .left .home-page-logo {
  height: 60px;
  top: 785px; 
  left: 77%; 
  
}
}

/* Samsung S8+ in portrait */
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 740px) 
and (-webkit-min-device-pixel-ratio: 4) {
.kontakt-oss-link-container {
  right: 45px;
  bottom: 20px;
}

.home-page .left .home-page-logo {
  height: 50px;
  top: 640px; 
  left: 74%; 
  }

}

/* iPads in portrait and landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
.kontakt-oss-link-container {
  right: 140px;
  bottom: 20px;
}
.home-page .left .home-page-logo {
  height: 60px;
  top: 900px; 
  left: 75%; 
  
}
}

/* iPads Pro in portrait and landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2) {
.kontakt-oss-link-container {
  right: 190px;
  bottom: 20px;
}
.home-page .left .home-page-logo {
  height: 60px;
  top: 1260px; 
  left: 76%; 
  
}
}
