.last-opp-bevis-container {
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;  
}

.last-opp-bevis-container .section-title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.last-opp-bevis-container .search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  max-height: 200px; /* Set a max height for the scrollable area */
  overflow-y: auto; /* Add scroll to the Y axis */
  margin-bottom: 20px; /* Add space before buttons */
} 

.search-status {
  color: #666;
  margin-bottom: 10px;
}

.section-content,
.selected-member {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.search-result,
.selected-name {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-result:hover,
.selected-name {
  background-color: #f7f7f7;
}

.search-result:last-child {
  border-bottom: none;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.upload-button,
.close-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button {
  background-color: #4CAF50;  
  color: white;
}

.close-button {
  background-color: #f44336;  
  color: white;
}


.last-opp-success-message {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}
