.program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-entry {
  background-color: #FFFFFF;
  border: 1px solid #D9E3F0;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50%;
}

/*Test*/
.program-image {
  width: 60px;   
  height: 60px;  
  border-radius: 50%;  
  object-fit: cover;  
  margin-right: 20px;
}

.program-details {
  display: flex;
  flex-direction: column;
}

.program-title {
  font-weight: bold;
}

.program-date {
  font-size: 0.8rem;
}

.program-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.program-modal-content {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  color: #32325D;
  border: 1px solid #D9E3F0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-buttons button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: RGB(19, 182, 253);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.modal-buttons button:hover {
  background-color: #004080;
  color: #FFFFFF;
}
