.registration-status {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.register-checkbox {
  margin-right: 5px;
}

.registration-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.registration-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-modal-content button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: black;
  color: yellow;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.registration-modal-content button:nth-child(2) {
  background-color: black;
}

.registration-modal-content button:hover {
  opacity: 0.9;
}
.confirmation-message {
  padding: 5px;
  margin-top: 10px;
  background-color: #07940c;  
  color: white;
  border-radius: 5px;
  display: inline-block;  
  animation: fadein 0.5s ease-in-out;  
  font-size: 13px;
}

/* Animation to fade in the confirmation message */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}