.tilstede-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: calc(100vh - 60px); 
  
}

.section {
  display: flex;
  flex-direction: column;
  overflow: visible; /* Changed from 'hidden' to 'visible' to ensure content is not clipped */
}

.registrerte-medlemmer {
  max-height: 700px; 
  overflow-y: auto; 
}

.registrerte-medlemmer, .statistikk {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
}

.section-title {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.date-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.date-filter-label {
  margin-right: 10px;
  font-weight: bold;
}

.date-filter-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-clear {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-clear:hover {
  background-color: darkred;
}

.members-list {
  overflow-y: auto;
  max-height: 400px;
}

.member-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.member-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.member-name {
  font-weight: bold;
}

.no-members-message {
  text-align: center;
  color: #555;
}

.statistikk {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  flex-grow: 1; 
}

.statistikk .date-filter-container {
  margin-bottom: 20px;
}

.statistikk .date-filter-label {
  margin-right: 10px;
  font-weight: bold;
}

.statistikk .date-filter-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.reset-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.reset-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .tilstede-container {
    flex-direction: column;
  }

  .section {
    margin-bottom: 20px;
  }
}

.statistikk-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
