.userinfo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F4F4F4; 
}

.userinfo-container {
  background: #FAFAFA; 
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 300px;
}

.userinfo-container h2 {
  color: #005A9E; 
  text-align: center;
  margin-bottom: 18px;
}

.userinfo-container form {
  display: flex;
  flex-direction: column;
}

.userinfo-container input,
.userinfo-container select,
.userinfo-container .checkbox-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #D9E3F0; 
  border-radius: 4px;
}

.error-message {
  color: #FF4D4F; 
  margin-bottom: 15px; 
  font-weight: bold;
}

.userinfo-container .submit-button {
  padding: 10px;
  background-color: #005A9E; 
  color: #FFFFFF; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.userinfo-container .submit-button:hover {
  background-color: #004080; 
}

.userinfo-container input::placeholder,
.userinfo-container select::placeholder {
  color: #8898AA; 
  font-weight: bold;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #005A9E; 
  color: #FFFFFF; 
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s;
  padding: 15px 20px;
  border-radius: 20px;
}

.logout-button:hover {
  background-color: #004080; 
}

.checkbox-container {
  margin-bottom: 20px;  
}
