html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: RGB(19, 182, 253);
  color: #FFFFFF;
  padding: 20px 0; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


.navbar-menu {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
  max-width: 1200px; 
}

.nav-item {
  cursor: pointer;
  text-align: center;
  padding: 10px 20px; 
  transition: color 0.3s; 
  position: relative; 
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.3s;
}


.nav-item:hover, .nav-item.active {
  color: #D9E3F0; 
}

.nav-item:hover::after, .nav-item.active::after {
  width: 100%; 
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  position: relative;
  background-color: #FAFAFA;
  overflow: auto;
}

.date-block {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.registration-status {
  position: absolute;
  top: 308px;
  left: 133px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.register-checkbox {
  margin-right: 5px;
}

.profile-img-container {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-img-placeholder, .profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-img {
  object-fit: cover;
}

.user-info {
  position: absolute;
  top: 230px; 
  left: 20px;
  display: flex;
  flex-direction: column;
}

.user-name, .user-level {
  font-size: 20px;
  margin: 5px 0;
  margin-left: 120px;
  font-weight: bold;
}

.main-content {
  padding-bottom: 250px; 
}


.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 2000; 
}

.logout-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  font-weight: bold;
  width: 300px; 
}

.logout-confirm-button {
  background-color: RGB(19, 182, 253);
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.logout-confirm-button:hover {
  background-color: #004080; 
}


.logout-modal.active + .navbar .nav-item {
  opacity: 0.5;
}

.logout-modal.active + .navbar .nav-item:hover {
  color: #FFFFFF;
  opacity: 1;
}

/* mobile devices */
@media (max-width: 768px) {
  .navbar {
    justify-content: center; 
  }
  
  .navbar-menu {
    flex-direction: column; 
  }
  
  .nav-item {
    width: 100%; 
    padding: 10px 10px; 
  }
  
  .logout-item {
    padding-top: 15px; 
  }
}