# Virtual environment folder
myenv/

# Database
db.sqlite3

# Backend .env file
BackEnd/gnist/.env

# Python compiled files
*.pyc
__pycache__/

# Django static and media files (if collected)
/static/
/media/

# Logs
*.log

# Frontend node modules and environment files
FrontEnd/node_modules/
FrontEnd/.env
FrontEnd/build/

# General system files
.DS_Store
.vscode/
.history/

# Ignore all .pyc files except the directory itself
__pycache__/
*.py[cod]

